<div id="<%= dom_id transaction %>">
  <div>
    <strong>Title:</strong>
    <%= transaction.title %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </div>

  <div>
    <strong>Kind:</strong>
    <%= transaction.kind %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= transaction.date %>
  </div>

  <div>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </div>

</div>
